            /* Файл стилей для landing  */
            
            .container-main {
                max-width: 80vw;
                margin: auto;
            }
            
            section {
                margin: 50px;
            }
            /* info*/
            
            .info_info {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
            }
            
            .info_company {
                display: flex;
                flex-direction: column;
                margin-top: 15vh;
            }
            
            .name {
                font-family: TTHoves-Light;
                color: #BDBDBD;
                font-size: 3.5rem;
                font-weight: lighter;
                margin: 0;
            }
            
            .name_two {
                font-family: TTHoves-DemiBold;
                font-size: 3.5rem;
                color: #333333;
                font-weight: bolder;
            }
            
            .info_btn1,
            .info_btn2 {
                background-color: white;
                border: 1px solid #e7e7e7;
                padding: 5px 15px;
            }
            
            .page_number {
                font-size: 2.5rem;
            }
            
            .numbers {
                font-family: TTHoves-Regular;
                font-size: 2vh;
            }
            
            .page {
                color: #BDBDBD;
                font-family: TTHoves-Regular;
                font-size: 1.5rem;
            }
            
            .i-image {
                width: 40vw;
                height: 80vh;
                display: flex;
                justify-content: flex-end;
            }
            
            .container_info-image {
                float: right;
                margin-top: 0;
            }
            
            .main_btn_light {
                color: #333333;
                background-color: #ffffff;
                border: none;
                padding-top: 1vh;
                padding-left: 5vw;
                padding-bottom: 2vh;
                padding-right: 5vw;
                margin-top: -50px;
                margin-left: 15px;
                position: absolute;
            }
            
            @media all and (max-width: 990px) {
                .container_info-image {
                    display: none;
                }
                .page_number {
                    display: none;
                }
            }
            /* about*/
            
            .about_inner {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                height: 70vh;
                margin-top: 10vh;
                background-color: #f3f3f3;
            }
            
            .about_images13 {
                display: flex;
                flex-flow: column wrap;
                width: 20%;
                margin-left: 5vw;
            }
            
            .image13 {
                margin-top: 20%;
                width: auto;
            }
            
            .about_right {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                width: 70%;
            }
            
            .about_text {
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: -5%;
            }
            
            .text_header {
                margin-top: 0;
            }
            
            .btn_light {
                align-self: flex-start;
                background-color: #ffffff;
                border: none;
                padding-top: 1vh;
                padding-left: 5vw;
                padding-bottom: 2vh;
                padding-right: 5vw;
            }
            
            .btn_arrow_right {
                margin-bottom: -5px;
            }
            
            @media all and (min-width: 899px) and (max-width: 1700px) {
                .img_img13,
                .img_img2 {
                    width: 20vw;
                }
                .btn_arrow_right {
                    width: 2vw;
                }
                .about_right {
                    margin-left: 5vw;
                }
            }
            
            @media all and (max-width: 898px) {
                .about_inner {
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: center;
                    height: 100%;
                    width: 60vw;
                }
                .img_img13,
                .img_img2 {
                    width: 50vw;
                }
                .btn_arrow_right {
                    width: 5vw;
                }
                .about_right {
                    height: 40%;
                    width: 100%;
                    margin: auto;
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: flex-start;
                    padding-left: 10px;
                }
                .about_images13 {
                    height: 40%;
                    width: 100%;
                    margin: auto;
                    padding-left: 10px;
                    margin-bottom: 50px;
                }
                .about_text {
                    width: 60%;
                    margin-left: 5px;
                    justify-content: flex-start;
                }
                .btn_light {
                    margin-bottom: 20px;
                }
            }
            /* finished about*/
            /* tasks*/
            
            .container-tasks_inner {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                margin-top: 50px;
            }
            
            .container-tasks_one,
            .container-tasks_two {
                display: flex;
                flex-flow: row wrap;
                align-self: flex-start;
                width: 30%;
            }
            
            .task_img {
                width: 104px;
                height: 140px;
            }
            
            .tasks_text {
                display: flex;
                align-self: center;
                width: 50%;
                margin: auto;
            }
            
            @media all and (max-width: 995px) {
                .container-tasks_inner {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    width: 80vw;
                }
                .container-tasks_one,
                .container-tasks_two {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                }
                .tasks_text {
                    display: flex;
                    flex-direction: row;
                    align-self: center;
                    width: 50vw;
                    margin: 10px;
                }
            }
            /* finished tasks*/
            
            .container_projects-images {
                display: flex;
                flex-flow: column wrap;
            }
            
            .projects_row-1,
            .projects_row-2 {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
            }
            
            .dark_img,
            .project_img,
            .text_button {
                position: absolute;
            }
            
            .projects_row-2 {
                margin-bottom: 30px;
            }
            
            .text_button {
                margin-left: 10px;
                color: #ffffff;
                margin-bottom: 20px;
                width: 20vw;
                height: 10vh;
            }
            
            .seethroughbtn {
                color: white;
                border: none;
                background-color: transparent;
                font-family: 'TTHoves-bold', sans-serif;
                padding: 10px 20px;
            }
            
            .btn_dark {
                background-color: #333333;
                color: white;
                border: none;
                padding-top: 1vh;
                padding-left: 5vw;
                padding-bottom: 2vh;
                padding-right: 5vw;
                margin-top: 20px;
                float: right;
            }
            
            .pr_img12 {
                width: 35vw;
            }
            
            .pr_img_bottom,
            .img2 {
                width: 20vw;
                height: 300px;
            }
            
            .insidephoto {
                font-size: 200%;
            }
            
            @media all and (min-width: 470px) and (max-width: 898px) {
                .projects_row-1 {
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: space-evenly;
                    height: 100%;
                    width: 60vw;
                }
                .projects_row-2 {
                    display: none;
                }
                .pr_img12 {
                    width: 70vw;
                }
                .container_pic1 {
                    margin-bottom: 20px;
                }
                .container_pic2 {
                    margin-top: 20vh;
                }
            }
            
            @media all and (max-width: 469px) {
                .projects_row-1 {
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: space-evenly;
                    height: 100%;
                    width: 60vw;
                }
                .projects_row-2 {
                    display: none;
                }
                .pr_img12 {
                    width: 70vw;
                }
                .container_pic1 {
                    margin-bottom: 20px;
                }
                .container_pic2 {
                    margin-top: 20vh;
                }
            }
            /* finished projects*/
            /* finished projects*/
            /* contact*/
            
            .container-contact {
                margin-top: 30px;
            }
            
            .container-contact_inner {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                height: 60vh;
            }
            
            .container-contact_form {
                flex: 1;
            }
            
            .form_input {
                margin-bottom: 10px;
            }
            
            .input,
            .input_textarea {
                background-color: #f3f3f3;
                border: none;
                width: 90%;
                padding: 15px;
            }
            
            .input_textarea {
                resize: none;
                height: 11vh;
            }
            
            .btn_dark_two {
                background-color: #333333;
                color: white;
                border: none;
                padding-top: 1vh;
                padding-left: 5vw;
                padding-bottom: 2vh;
                padding-right: 5vw;
                margin-top: 20px;
            }
            
            .container-contact_image {
                margin-left: 10px;
            }
            
            .image_contact {
                width: auto;
                height: 45vh;
            }
            
            .myinput.large {
                height: 22px;
                width: 22px;
            }
            
            @media all and (min-width: 801px) and (max-width: 1700px) {
                .image_contact {
                    width: 50vw;
                    height: auto;
                }
                .container-contact_inner {
                    display: flex;
                    flex-flow: row nowrap;
                }
            }
            
            @media all and (max-width: 800px) {
                .container-contact {
                    max-width: 80vw;
                }
                .container-contact_image {
                    display: none;
                }
                .input,
                .input_textarea {
                    width: 75%;
                    padding: 5px;
                    margin-left: 2px;
                }
            }
            /* finished contact*/