.main {
    height: 100vh;
    max-width: 1200px;
    margin: auto;
}

hr {
    background: #F2F2F2;
    margin: 30px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
}
@media  screen and (max-width: 1024px) {
    .gallery {
    grid-template-columns: repeat(3, 1fr)
    }

@media  screen and (max-width: 768px) {
.gallery {
grid-template-columns: repeat(2, 1fr)
}
}
@media  screen and (max-width: 480px) {
    .gallery {
    display: flex;
    flex-direction: column;
    align-content: center;
    }
}}


.images {
    width: 210px;
    height: 260px;

}

.first_img {
    width: 210px;
    height: 260px;
    background-color: #FBFBFB;
}

.page_number {
    margin-top: 71px;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn1 {
    background-color: white;
    border: 1px solid #e7e7e7;
}

.btn2 {
    background-color: #F9F9F9;
    border: 1px solid #e7e7e7;
}

h1 {
    font-family: TTHoves-Light;
    color: #BDBDBD;
    font-size: 5vw;
    margin: 0;
}
.h1part2 {
    font-family: TTHoves-DemiBold;
    color: #333333;
}

p {
    font-family: TTHoves-Regular;
    font-size: 0.8em;
    text-align: start;
}

.numbers {
    font-family: TTHoves-Regular;
    font-size: 1.3em;
}

#five {
    color: #BDBDBD;
}

#pin {
    color: #BDBDBD;
}