/* Файл стилей для page6 */

.container-main {
    width: 80vw;
    margin: auto;
}

h1 {
    font-family: TTHoves-Light;
    color: #BDBDBD;
    font-size: 4em;
    margin: 0;
}
h1 > span::before {
    content: "\A";
    white-space: pre;
}
.part2{     font-family: TTHoves-DemiBold;
    color: #333333;
    font-size: 1em;}

.container_contact-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 80vh;
    margin-top: 10vh;
}

h3 {
    font-family: TTHoves-DemiBold;
    font-size: 1.5rem;
    color: #333333;
    font-weight: bolder;
}

h4 {
    font-family: TTHoves-DemiBold;
    font-style: normal;
    font-size: 1rem;
    color: #333333;
    font-weight: lighter;
}

.btn_dark_two {
    background-color: #333333;
    color: white;
    border: none;
    padding-top: 1vh;
    padding-left: 5vw;
    padding-bottom: 2vh;
    padding-right: 5vw;
    margin-top: 20px;
}