/* Файл стилей для page5 */
.main {
    height: 100vh;
    max-width: 1200px;
    margin: auto;

}
.gallery {display: flex;
    flex-wrap: wrap;}
h1 {
    font-family: TTHoves-Light;
    color: #BDBDBD;
    font-size: 5vw;
    margin: 0;
}
.h1part2 {
    font-family: TTHoves-DemiBold;
    color: #333333;
}


.images {
    width: 337px;
    height: 450px;
}
.numbers {
    font-family: TTHoves-Regular;
    font-size: 1.3em;
}

.page_number {
    margin-top: 71px;
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
    margin-left: 62%;
}
.btn1 {
    background-color: white;
    border: 1px solid #e7e7e7;
}

.btn2 {
    background-color: #F9F9F9;
    border: 1px solid #e7e7e7;
}


#five {
    color: #BDBDBD;
}

#pin {
    color: #BDBDBD;
}